@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(242, 242, 242)!important;
}

.pointer {
  cursor: pointer;
}

/* custom */
.icon-home {
  width: fit-content;
}

.icon-home:hover{
  border: black;
  box-shadow: 20px;
}